.initialLanding {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;

  &__imageContainer {
    width: 40%;

    & > img {
      width: 90%;
    }
  }

  &__content {
    margin: auto;

    &__heading {
      font-size: 200%;
    }

    &__subHeading {
      display: flex;
      align-items: center;
      justify-content: center;

      & h4 {
        text-align: center;
        font-size: 140%;
        font-weight: 400;
        display: inline;
      }

      &__gif {
        width: 75px;
        height: auto;
      }
    }
  }
}
