.navbar {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0.6em 1.5em;

  &__brand {
    font-size: 2em;
    font-weight: 600;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0 0 0.6em 0;

    &__brand {
      background-color: white;
      color: black;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
