.timeline {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--color-accent);
    position: absolute;
    left: calc(50% - 2px);
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;

    &:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding-left: 30px;
      padding-right: 0;
    }

    &__content {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      background-color: var(--color-primary);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 15px;
      position: relative;
      width: 400px;
      max-width: 70%;
      text-align: right;
      cursor: pointer;
      color: var(--color-accent);

      &::after {
        content: ' ';
        background-color: var(--color-primary);
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: -7.5px;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
      }

      &__time {
        border-radius: 24px;
        color: var(--color-primary);
        padding-left: 7px;
        padding-right: 7px;
        background-color: var(--color-accent);
      }
      &__title {
        font-size: 1.3em;
        margin-bottom: 4px;
      }
    }

    &:nth-child(odd) .timeline__item__content {
      text-align: left;
      align-items: flex-start;
    }

    &:nth-child(odd) .timeline__item__content::after {
      right: auto;
      left: -7.5px;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

@media only screen and (max-width: 1023px) {
  .timeline__item__content {
      max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline__item__content,
  .timeline__item:nth-child(odd) .timeline__item__content {
      padding: 15px 10px;
      text-align: center;
      align-items: center;
  }

  // .timeline__item__content .tag {
  //     width: calc(100% - 10px);
  //     text-align: center;
  // }

  // .timeline-item-content time {
  //     margin-top: 20px;
  // }

  // .timeline-item-content a {
  //     text-decoration: underline;
  // }

  // .timeline-item-content a::after {
  //     display: none;
  // }
}
