.loading {
  background-image: url(../../images/Asset70.png);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    text-transform: uppercase;
    background-color: white;
    color: var(--color-primary);
  }
}
