.prevUser {
  font-size: 1.1em;
  padding: 0.3em;

  &__button {
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--color-primary);
    cursor: pointer;
    border: none;
  }
}
